; order matters

; choose only one vlaue for each key (comment the unused ones)
; macOS ------------------------------------------------------------------------

[user]
	signingkey = F4D43507B7A7F4AC
[credential]
    helper = /usr/local/share/gcm-core/git-credential-manager
[gpg]
    program = /opt/homebrew/bin/gpg

; WSL --------------------------------------------------------------------------

; [user]
;     signingkey = 75BFCB83FDFE020D
; [credential]
; 	helper = /mnt/c/Program Files/Git/mingw64/bin/git-credential-manager.exe
; [gpg]
;     program = /mnt/c/Program Files (x86)/gnupg/bin/gpg.exe

; ------------------------------------------------------------------------------

[includeIf "gitdir:/home/mie/dev/dotfiles"]
    path = ~/.config/git/.gitconfig.wsl
[includeIf "gitdir:~/dev/"]
	path = ~/dev/.gitconfig
[includeIf "gitdir:~/tm/"]
	path = ~/tm/.gitconfig
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
    path = ~/.config/git/.gitconfig.github

[user]
	name = tmwatchanan
	email = tmwatchanan@users.noreply.github.com
[include]
	path = ~/.config/delta/themes.gitconfig
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta --paging=never --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
[alias]
    # GitLab
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
    # GitHub
    pr  = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
    # Diffview
    dv = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\""
    # commit with a random commit message
    yolo = "!git commit -m '$(curl -s https://whatthecommit.com/index.txt)'"

; Diff Tool -------------------------------------------------------------------
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[diff]
    colorMoved = default
    tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = DFT_UNSTABLE=yes difft "$LOCAL" "$REMOTE" --display=inline ; display=json requires DFT_UNSTABLE
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[delta]
    navigate = true
    true-color = always
    features = kanagawa
    line-numbers = true
    file-decoration-style = ul
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    hunk-header-style = omit
    map-styles = \
       bold purple => syntax "#3D324A", \
       bold cyan => syntax "#20394a"
       ; ^-- color moved
[delta "kanagawa"]
    dark = true
    syntax-theme = kanagawa ; from tmTheme (bat, delta, lazygit)
    file-style = bold yellow
    whitespace-error-style = syntax "#FF9E3B" ; roninYellow
    line-numbers-minus-style = "#C34043" ; autumnRed
    line-numbers-plus-style = "#76946A" ; autumnGreen
    minus-style = syntax "#43242B" ; winterRed
    plus-style = syntax "#2B3328" ; winterGreen
    minus-emph-style = syntax "#804552" ; lighter winterRed
    plus-emph-style = syntax "#586952" ; lighter winterGreen

; Merge Tool ------------------------------------------------------------------
[merge]
    conflictstyle = diff3
    tool = nvimmerge
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvimmerge"]
	; cmd = nvim -d $MERGED $REMOTE $LOCAL -c 'wincmd J | norm ]c'
	cmd = nvim -d $MERGED -c ':DiffviewOpen'

; Credential ------------------------------------------------------------------
[credential "https://git.linecorp.com"]
	provider = github
[credential "https://git.wndv.co"]
	provider = gitlab
	gitLabAuthModes = browser
[url "ssh://git@git.wndv.co/"]
	; for private go module
    insteadOf = https://git.wndv.co/
[credential]
	gitLabAuthModes = browser
	credentialStore = cache
	guiPrompt = false
	gitHubAuthModes = browser
[filter "gitignore"]
	clean = "sed '/;gitignore$/d'"

; gpg --------------------------------------------------------------------------
[commit]
	gpgsign = true

