[user]
	name = Watchanan Chantapakul
	email = watchanan.c@lmwn.com
[includeIf "gitdir:~/tm/"]
	path = ~/tm/.gitconfig
[delta]
	navigate = true
	features = nightfox
[include]
	path = ~/.config/delta/themes.gitconfig
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	pager = delta --paging=never
[alias]
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -

; Diff Tool -------------------------------------------------------------------
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[difftool]
	prompt = false
[diff]
    colorMoved = default
    tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
;
; Merge Tool ------------------------------------------------------------------
[merge]
    conflictstyle = diff3
    tool = nvimmerge
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvimmerge"]
	; cmd = nvim -d $MERGED $REMOTE $LOCAL -c 'wincmd J | norm ]c'
	cmd = nvim -d $MERGED -c ':DiffviewOpen'

; Credential ------------------------------------------------------------------
[credential "https://git.linecorp.com"]
	provider = github
[credential "https://git.wndv.co"]
	provider = gitlab
	gitLabAuthModes = browser
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
	gitLabAuthModes = browser
	credentialStore = cache
	guiPrompt = false
	gitHubAuthModes = browser
[filter "gitignore"]
	clean = "sed '/;gitignore$/d'"
